@model Intranet.Views.Pager

<!-- pager -->
@if (Model.EndPage > 1)
{
    <p> <strong>Registros encontrados: </strong> @Model.TotalItems / @Model.TotalPages páginas. </p>

    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li>
                <a href="@Model.Home?page=@(1)@Model.Parameters">Primeira</a>
            </li>
            <li>
                <a href="@Model.Home?page=@(Model.CurrentPage - 1)@Model.Parameters">Anterior</a>
            </li>
        }

        @for (var page = Model.StartPage; page <= Model.EndPage; page++)
        {
            <li class="@(page == Model.CurrentPage ? "active" : "")">
                <a href="@Model.Home?page=@page@Model.Parameters">@page</a>
            </li>    
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li>
                <a href="@Model.Home?page=@(Model.CurrentPage + 1)@Model.Parameters">Próxima</a>
            </li>
            <li>
                <a href="@Model.Home?page=@(Model.TotalPages)@Model.Parameters">Ultima</a>
            </li>
        }
    </ul>
}
	