@using Intranet.Models;
@using Intranet.data.Repositories.Base;
@using Umbraco.Core.Persistence;
@model VeiculoReservaVM

@{

    var centroCustos = new BaseRepository<CentroCustos>().dbContext.Database.Fetch<CentroCustos>(new Umbraco.Core.Persistence.Sql("SELECT * FROM [sisCentroCustos]"));
    List<string> ccValues = new List<string>();
    foreach (var c in centroCustos)
    {
        ccValues.Add(String.Format("{0} - {1}", c.cod_proc_proj, c.nom_proc_proj));
    }

    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@using (Html.BeginUmbracoForm<Intranet.Controllers.Surfaces.ReservaVeiculosSurfaceController>("Reservar", null, new { id = "form-veiculo-reserva" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.MemberId)
    @Html.HiddenFor(m => m.VeiculoId)

    <div class="modal fade" id="modalVeiculoReserva" tabindex="-1" role="dialog" aria-labelledby="modalVeiculoReserva-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalVeiculoReserva-label">Reservar Veiculo / {{ vw.Descricao }}</h4>
                </div>
                <div class="modal-body">

                    <div ng-show="vw.Reservas" style="height:160px;overflow:auto;">
                        <small>Reservas já efetuadas:</small>
                        <table class="table table-bordered">
                            <tr>
                                <th>Usuario</th>
                                <th>De</th>
                                <th>Até</th>
                            </tr>
                            <tr ng-repeat="vwItem in vw.Reservas">
                                <td>{{vwItem.LoginName}}</td>
                                <td>{{vwItem.reservaDe | date:'dd/MM/yyyy H:mm': 'UTC'}}</td>
                                <td>{{vwItem.reservaAte | date:'dd/MM/yyyy H:mm': 'UTC'}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-md-4 paddingR0">
                                @Html.LabelFor(m => m.ReservaDe)
                                @Html.TextBoxFor(m => m.ReservaDe, new { value = "", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ReservaDe, "Infome uma data válida.")
                            </div>

                            <div class="form-group col-md-2 paddingL5">
                                @Html.LabelFor(m => m.ReservaDeHorario)
                                @Html.TextBoxFor(m => m.ReservaDeHorario, new { @class = "form-control", data_mask = "99:99" })
                                @Html.ValidationMessageFor(model => model.ReservaDeHorario)
                            </div>

                            <div class="form-group col-md-4 paddingR0">
                                @Html.LabelFor(m => m.ReservaAte)
                                @Html.TextBoxFor(m => m.ReservaAte, new { value = "", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ReservaAte, "Infome uma data válida.")
                            </div>

                            <div class="form-group col-md-2 paddingL5">
                                @Html.LabelFor(m => m.ReservaAteHorario)
                                @Html.TextBoxFor(m => m.ReservaAteHorario, new { @class = "form-control", data_mask = "99:99" })
                                @Html.ValidationMessageFor(model => model.ReservaAteHorario)
                            </div>
                         </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(m => m.CentroDeCustos)
                                @Html.DropDownListFor(m => m.CentroDeCustos, new SelectList(ccValues), "SELECIONE", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CentroDeCustos)
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(m => m.MotivoReserva)
                                @Html.TextAreaFor(m => m.MotivoReserva, new { rows = "3", value = "", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MotivoReserva)
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Reservar</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#ReservaDe").mask('99/99/9999', { placeholder: "__/__/____" });
            $("#ReservaAte").mask('99/99/9999', { placeholder: "__/__/____" });
            $("#ReservaDeHorario").mask('00:00', { placeholder: "__ : __" });
            $("#ReservaAteHorario").mask('00:00', { placeholder: "__ : __" });
        });
    </script>

}
